* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main,
header,
footer {
  width: 500px;
  max-width: 90%;
  margin: 0 auto 20px auto;
  font-family: 'Fira Sans', sans-serif;
  font-size: 2em; }

input {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  font-size: 0.7em;
  font-family: 'Fira Sans', sans-serif; }

input[type="text"] {
  display: block;
  border: 0;
  border-bottom: 2px solid #f37b2e;
  padding: 10px 10px 10px 0;
  margin-bottom: 20px; }
  input[type="text"]:focus {
    outline: none; }

button,
input[type="submit"] {
  background-color: transparent;
  border: 2px solid #f37b2e;
  outline: 0;
  box-shadow: none;
  padding: 10px 20px;
  cursor: pointer; }
  button:hover, button:focus, button:active,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="submit"]:active {
    border-color: transparent;
    background-color: #f37b2e;
    color: white; }
